/* =============
   Associations
============= */
h1{
   padding-top: 24px;
}

p{
   padding: 16px;
}

#associations-list{
   padding-left: 16px;
   padding-bottom: 16px;
   li{
      list-style-type: circle;
   }
}
#associations{
   margin-top: 200px;
   margin-bottom: 100px;
   text-align: left;
   font-size: rem-calc(16);
   letter-spacing: 1px;
 }