/* =============
 Contact
============= */
h1{
    padding-top: 24px;
 }
 
 p{
    padding: 16px;
 }

 #contact{
 margin-top: 200px;
 margin-bottom: 100px;
 text-align: left;
 font-size: rem-calc(16);
 letter-spacing: 1px;
}