/* =============
    Index
============= */

#index{

    a:link, a:visited{
        color: var(--green);
        text-decoration: none;
    }
    a:hover, a:active{
        color: var(--lightgreen);
    }
}

#index-left{
    h1{
    padding-bottom: 24px;
    }
    p{
        padding: 0 16px;
        padding-bottom: 24px;
    }

}

#index-right{
    img{
       width: 100%;
       padding-bottom: 16px;
    }
 }
 