/* =============
    Index
============= */

#index{

    a:link, a:visited{
        color: var(--green);
        text-decoration: none;
    }
    a:hover, a:active{
        color: var(--lightgreen);
    }
}

#index-right{
    img{
       width: 100%;
    }
 }
 