/* =============
    Index
============= */



#index-left{
    h1{
    padding-bottom: 24px;
    }
    p{
        padding: 0 16px;
        padding-bottom: 24px;
    }
    text-align: left;
    font-size: rem-calc(16);
    letter-spacing: 1px;

}

#index-right{
img{
       width: 100%;
       border: 2px var(--tan) solid;
    }
 }
 