/* =============
    Projects
============= */

#projects-left{
    img{
       width: 100%;
       padding: 16px;
    }
 }

 h1{
    padding-top: 24px;
 }

 h2{
    padding-top: 16px;
 }

 h3{
    padding-top: 16px;
 }
 
 p{
    padding: 16px;
 }

 #course-list{
    padding-left: 16px;
    li{
        list-style-type: circle;
        letter-spacing: 1px;
    }
 }
 #course-in-progress{
    padding-left: 16px;
    li{
        list-style-type: circle;
        letter-spacing: 1px;
    }
 }
 #projects{
   margin-top: 200px;
   margin-bottom: 100px;
   text-align: left;
   font-size: rem-calc(16);
   letter-spacing: 1px;
 }

 #ceramics-images{
 
  display:flex;
  justify-content: space-evenly;
  #cups{
   width: rem-calc(250);

  }
  #tray{
   width: rem-calc(250);
 
  }
  #vase{
   width: rem-calc(250);

  }
  #mosaic{
   width: rem-calc(250);
  
  }
 }