/* =============
    Resume
============= */
h1{
    padding-top: 24px;
    text-align: center;
 }
 h3{
   text-align: center;
   padding-top: 24px;
   padding-bottom: 24px;
   }
   h4{
      text-align: left;
      padding-top: 16px;
      padding-bottom: 16px;
      }
 
 p{
    padding: 16px;
    text-align:left;
 }
 #resume{
      margin-top: 200px;
    font-size: rem-calc(16);
    letter-spacing: 1px;
   }
.resume-list{
   padding-left: 16px;
   li{
       list-style-type: circle;
   }
}

 