/* =============
    Base
============= */
body{
    background-color: var(--silver);
}

.content-grid{ 
    display: grid; 
    grid-template-columns: 16px auto 16px ;
    grid-template-areas: ". content .";

    @include xl{
        grid-template-columns: auto 1200px auto ;
    }

    .content-grid-item{
    background-color: var(--silver);
    grid-area: content;
    }
}

#main-content-grid {
    @include lg{
        display: grid;
        grid-template-columns: 60% auto;
        gap: 16px;
    }

    @include xl{
        grid-template-columns: 70% auto;

    }

}

#index-right {
    img{
        width: 150px;
    }
}