/* =============
    Typography
============= */

//font-family: 'Poppins', sans-serif;

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--brown);
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    color: var(--brown)
}

p{
    padding: 0;
    margin: 0;
    font-size: rem-calc(16px);
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}