/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;

  --silver: #c0c0c0; 
  --gray: #808080;
  --almond: #FFEFD5;
  --tan: #DEB887; 
  --brown: #CD853F;
  --cream: #fff5e6; 
  --backgroundwhite: #FFFAF0;
}

